*.pdf
*.tif
*.cpython-38.pyc
*.pyc
.DS_Store
Modules/__pycache__/
Code/__pycache__
Code/CAML/__pycache__
Data/CAML/Output
Code/.spyproject/
Code/temp/
Code/.ipynb_checkpoints/
/data_sources/TemplateClusters/ProteinData_ttx_1hr_2/
/data_sources/phase_spaces/
